.contentTask {
    display: flex;
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 12px;

    p {
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        max-width: 632px;
    }
    
    .pUnchecked {
        color: var(--gray-100);
    }
    
    .pChecked {
        color: var(--gray-300);
        text-decoration: line-through;
    }
    
    .iconUnchecked, .iconCheck {
        display: flex;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.75rem;
        cursor: pointer;
        transition: background-image 0.2s;
    }
    
    .iconUnchecked {
        background-image: url(/src/assets/Unchecked.svg);
    }
    
    .iconUnchecked:hover {
        background-image: url(/src/assets/UncheckedHover.svg);
    }
    
    .iconCheck {
        background-image: url(/src/assets/Checked.svg);
    }
    
    .iconCheck:hover {
        background-image: url(/src/assets/CheckedHover.svg);
    }
    
    .trashIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.3125rem;
        margin-left: auto;
        width: 1.75rem;
        height: 1.75rem;
        cursor: pointer;
        color: var(--gray-300);
    
        transition: background-color 0.2s, color 0.2s;
    }
    
    .trashIcon:hover {
        background: var(--gray-400);
        border-radius: 4px;
        color: var(--danger);
    }
}